<h2>Preferences</h2>
<h3>Song Sort Order: <%= @preferences.song_sort_order %></h3>
<h3>Artist Sort Order: <%= @preferences.artist_sort_order %></h3>
<h3>Allow Creating Songs: <%= @preferences.allow_create_songs %></h3>
<h3>Allow Creating Artists: <%= @preferences.allow_create_artists %></h3>
</p><a href='<%= edit_admin_preference_path(@preferences) %>'>Edit Preferences</a></p>
