<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Tunes</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= yield %><br><br>
    <a href='<%= songs_path %>'>Songs</a> <a href='<%= artists_path %>'>Artists</a> <a href='<%= admin_preferences_path %>'>Preferences</a>
    
  </body>
</html>
